/*#leftbar{
    width:25%;
    height:100%;
    top:0;
    position: fixed;
    float: left;
    background:linear-gradient(to top,white,indigo,white);
}*/
body{
    margin:0;
}
.column{
    float: left;
    height:100%;
    padding-bottom: 100%;
    margin-bottom: -100%;
    overflow: auto;
    /*border: 1px solid black;*/
    position: relative;
}
.image{
    width:50%;/*32.1%*/
    height: 80px;
    float: left;
    padding:1px;
    cursor: pointer;
    overflow: hidden;
    border: 5px solid white;
    background: #eaeaea;
    border-radius: 15px;
}
.image-1{
    float: left;
    width:15%;
    border:3px solid #eaeaea;
    height:100%;
    border-radius: 15px;
}
.image-2{
    float: left;
    width:85%;
    border:3px solid #eaeaea;
    height:100%;
    border-radius: 15px;
    font-size: 20px;
}
.para{
    font-size: 18px;
    text-align: right;
    margin: auto;
    cursor: pointer;
    color: rgb(16, 147, 228);
}
.para:hover{
    text-decoration: underline;
}
.pSection{
    border: 2px solid white;
    margin: auto;
    top:20px;
    height: 60px;
}
#leftbar{
    height: 100%;
    padding-bottom: 100%;
    margin-bottom: -100%;
    overflow: auto;
}
#rightbar{
    height: 100%;
    padding-bottom: 100%;
    margin-bottom: -100%;
    overflow: auto;
}
.col-1{
    width:10%;
}
.col-2{
    width:80%;
    border:20px solid white;
}
.col-3{
    width:10%;
}