/*#leftbar{
    width:25%;
    height:100%;
    top:0;
    position: fixed;
    float: left;
    background:linear-gradient(to top,white,indigo,white);
}*/
body{
    margin:0;
}
.column{
    float: left;
    height:100%;
    padding-bottom: 100%;
    margin-bottom: -100%;
    overflow: auto;
    /*border: 1px solid black;*/
    position: relative;
}
.image{
    width:50%;/*32.1%*/
    height: 50px;
    float: left;
    padding:1px;
    cursor: pointer;
    overflow: hidden;
    border: 5px solid white;
    background: grey;
}
#leftbar{
    height: 100%;
    padding-bottom: 100%;
    margin-bottom: -100%;
    overflow: auto;
}
#rightbar{
    height: 100%;
    padding-bottom: 100%;
    margin-bottom: -100%;
    overflow: auto;
}
.col-1{
    width:10%;
}
.col-2{
    width:75%;
    border:20px solid white;
}
.col-3{
    width:15%;
}